.inline {
    .lg-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .lg-backdrop {
        background-color: transparent;
    }
    .lg-icon {
        color: white;
    }
}

// .block {
//     .lg-image {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
//     // .lg-toolbar {
//     //     .lg-download {
//     //         display: none;
//     //     }
//     // }
//     .lg-next {
//         color: white;
//     }
//     .lg-prev {
//         color: white;
//     }
// }
